
p{
	color:darkblue;
	  width: 500px; 
    border: 1px solid #000000;
    word-break: keep-all;
    font-size: 20px;
    background-color: white;
  
}
p:hover{
	color: cyan;
	background-color: black;
	font-size: 25;
}
h1 p{
       text-align:center;
 }
h1 {
    text-shadow: 2px 2px #FF0000;
}
table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

 td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
a:link {
    color: red;
    text-decoration: none;
    background-color: yellow;
}


a:visited {
    color: green;
    text-decoration: none;
    background-color: cyan;
}


a:hover {
    color: hotpink;
    text-decoration: underline;
    background-color: lightgreen;
}


a:active {
    color: blue;
    text-decoration: underline;
     background-color: hotpink;
}
img {
    float: middle;
    margin: 0 0 70px 400px;
 
}
img{
  opacity: 0.7;
}
img:hover{
  opacity: 1;
 }

    body{ 
    background-image: url('wisely.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed; 
}

li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	color: grey;
	list-style: square url("square.jpg");
	font-size: 20px;
	font-weight: bold;
}
